/*Settings*/

/*Mixins*/

.view-index__intro {
  padding: 7.14286rem 0 2.14286rem;
  background-color: #EEF3FA;
}

.view-index__intro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.view-index__intro-container > div {
  flex-basis: 100%;
}

.view-index__intro-info {
  max-width: 470px;
  order: 2;
}

.view-index__intro-info h1 {
  margin-bottom: 1.78571rem;
}

.view-index__intro-image {
  text-align: center;
  margin-bottom: 2.14286rem;
}

.view-index__intro-controls {
  margin-top: 2.14286rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-index__intro-controls .button {
  margin-right: 2.14286rem;
}

.view-index__advantages {
  padding: 2.85714rem 0 3.57143rem;
}

.view-index__advantages > .view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.view-index__advantages .advantage:not(:last-child) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #42526E;
}

.view-index__slider {
  padding: 4.28571rem 0 3.92857rem;
}

.view-index__slider-header {
  text-align: center;
  margin-bottom: 4.28571rem;
}

.view-index__slider .title {
  margin-bottom: 2.14286rem;
}

.view-index__slider-description {
  max-width: 480px;
  margin: 0 auto 1.78571rem;
}

.view-index__slider-controls .link {
  margin-left: 2.57143rem;
}

.view-index__slider--gray {
  background-color: #EEF3FA;
}

.view-index__slider--gray .view-index__slider-description {
  margin: 0 auto 3.57143rem;
}

.view-index__demo {
  padding: 3.57143rem 0;
  background: #172b4d;
  text-align: center;
}

.view-index__demo .title {
  color: #fff;
  margin-bottom: 2.14286rem;
}

.view-index__demo .view-text {
  color: rgba(255, 255, 255, 0.8);
  max-width: 450px;
  margin: 0 auto 2.14286rem;
}

.view-index__demo-container {
  max-width: 600px;
}

@media only screen and (min-width: 576px) {
  .view-index__intro-image {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .view-index__intro {
    padding: 10.71429rem 0;
  }

  .view-index__intro-container {
    justify-content: space-between;
  }

  .view-index__intro-container > div {
    flex-basis: 50%;
  }

  .view-index__intro-info {
    order: 0;
  }

  .view-index__intro-controls {
    justify-content: flex-start;
  }

  .view-index__advantages {
    padding: 8.21429rem 0 8.92857rem;
  }

  .view-index__advantages > .view-content {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .view-index__advantages .advantage:not(:last-child) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }

  .view-index__demo {
    padding: 7rem 0;
  }
}

@media only screen and (min-width: 992px) {
  .view-index__demo {
    background: url(../images/index/bg.svg) no-repeat 50% 0/contain #172b4d;
  }
}